.container {
  display: flex;
  width: 50%;
  height: 100%;
}
.button {
  width: 100%;
  background-color: gray;
  border: none;
  color: white;
  padding: 2px;
  font-size: 1.2rem;
  cursor: pointer;
}
.input {
  display: none;
}
