.container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.button {
  width: 100%;
  border: none;
  color: white;
  padding: 2px;
  font-size: 1.2rem;
  cursor: pointer;
}
.button.pink {
  background-color: lightpink;
}
.button.gray {
  background-color: gray;
}
.input {
  display: none;
}
.loading {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid pink;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
