.container {
  width: 50%;
  padding: 0.3rem;
}
.video {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid lightgray;
  transition: transform 250ms ease-in;
  cursor: pointer;
}
.video:hover {
  transform: scale(1.02);
}
.thumbnail {
  width: 40%;
}

.metadata {
  margin-left: 0.2em;
}
.title,
.channelTitle {
  margin: 0;
  font-size: 1.2rem;
}
.channelTitle {
  font-size: 0.9rem;
}
