@value makerDarkBlue from '../../../common/colors.css';
@value makerWhite from '../../../common/colors.css';
@value makerBlack from '../../../common/colors.css';

.container {
  position: relative;
  text-align: center;
  background-color: makerDarkBlue;
}
.title {
  margin: 0;
  color: makerWhite;
  font-size: 2rem;
  padding-bottom: 20px;
}
.img {
  width: 4em;
  margin-top: 20px;
  margin-bottom: 0px;
}
.logout {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: makerBlack;
  color: makerWhite;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
}
