.list {
  display: inline;
}
.video {
  width: 450px;
  height: 150px;
  transition: transform 300ms ease-in;
  -webkit-box-shadow: 11px 10px 5px 0px rgba(138, 138, 138, 1);
  -moz-box-shadow: 11px 10px 5px 0px rgba(138, 138, 138, 1);
  box-shadow: 11px 10px 5px 0px rgba(138, 138, 138, 1);
  margin: 10px 15px;
}
.video:hover {
  transform: scale(1.1);
}
.video_img {
  vertical-align: middle;
}
