.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  background-color: white;
  overflow-y: auto;
}
@media screen and (max-width: 900px) {
  .section {
    flex-direction: column;
  }
}
